<div class="p-md-5 p-4">
  <mat-card>
    <div class="p-4" *ngIf="posts$ | async as posts else loading">
      <ng-container *ngFor="let post of posts$ | async">
        <div class="d-flex justify-content-between align-items-center">
          <div class="mb-3">
            <h3 class="mb-2"><strong>{{ post.title }}</strong></h3>
            <p class="mb-2">{{ post.body | slice:0:50 }}<ng-container *ngIf="post.body.length > 50">...</ng-container></p>
            <p class="mb-0">author: <strong>{{ post.username }}</strong></p>
          </div>
          <button (click)="onOpenMoreDetails(post)" mat-flat-button color="primary">View more</button>
        </div>
        <hr class="mb-4">
      </ng-container>
    </div>
    <ng-template #loading>
      <div class="d-flex justify-content-center align-items-center p-5">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card>
</div>
