<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer fixedInViewport
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="isHandset ? 'over' : 'side'"
      [opened]="!isHandset">
    <mat-toolbar *ngIf="!isHandset">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="isExpanded = !isExpanded;"
        >
        <mat-icon aria-label="Side nav toggle icon" color="primary">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a class="navigation-item" mat-list-item routerLink="/posts" routerLinkActive="active">
        <mat-icon mat-list-icon>list</mat-icon>
        <h4 mat-line *ngIf="isExpanded || isHandset">Posts</h4>
      </a>
      <a class="navigation-item" mat-list-item routerLink="/users" routerLinkActive="active">
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line *ngIf="isExpanded || isHandset">Users</h4>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <div>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="d-flex justify-content-between align-items-center h-100 w-100">
        <a routerLink="/" class="py-2 h-100">
          <img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-1-color-white-rgb.png" class="img-fluid h-100">
        </a>
        <span>John Doe</span>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
