<div class="container-fluid">
  <div class="row" *ngIf="users$ | async as users else loading">
    <div class="col-12 col-md-6 col-lg-4 my-3" *ngFor="let user of users">
      <mat-card>
        <p>Name: <strong>{{user.name}}</strong></p>
        <p>User Name: <strong>{{user.username}}</strong></p>
        <p>Email: <strong>{{user.email}}</strong></p>
        <p>Company Name: <strong>{{user.company!.name}}</strong></p>
        <button (click)="onOpenMoreDetails(user)" mat-flat-button color="primary">View more</button>
      </mat-card>
    </div>
  </div>
  <ng-template #loading>
    <div class="d-flex justify-content-center align-items-center p-5">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
